.section-hero {
  background-color: #000217f7;
  padding: 100px 0;
  text-align: center;
  height: 100vh;
}

.cont-info-hero {
  margin-top: -20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.cont-titles {
  border-left: 3px solid rgb(63, 182, 255);
  padding-left: 30px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;
}

.cont-title {
  display: flex;
  justify-content: felx-start;
  align-items: center;
}
.cont-title h1 {
  font-size: 2.1rem;
  font-weight: 700;
  color: #fff;
  text-align: start;
  font-family: "Contrail One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 10px;
}
.parraf {
  color: #fff;
  margin-top: 20px;

  text-align: start;
  font-size: 1rem;
  font-family: "Contrail One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 10px;
}
.cont-subtitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  color: rgb(226, 244, 255);
  border-bottom: 2px solid #fff;
  font-size: 1.2rem;
  font-family: "Contrail One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 10px;
}

.cont-img {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont-img img {
  width: 80%;
  height: auto;

  object-fit: contain;
}

/* button */

.button-h {
  margin-top: 25px;

  margin-left: 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  color: #0f1923;
  cursor: pointer;
  position: relative;
  padding: 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.15s ease;
}

.button-h::before,
.button-h::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid #7d8082;
  transition: all 0.15s ease;
}

.button-h::before {
  top: 0;
  border-bottom-width: 0;
}

.button-h::after {
  bottom: 0;
  border-top-width: 0;
}

.button-h:active,
.button-h:focus {
  outline: none;
}

.button-h:active::before,
.button-h:active::after {
  right: 3px;
  left: 3px;
}

.button-h:active::before {
  top: 3px;
}

.button-h:active::after {
  bottom: 3px;
}

.button_lg {
  position: relative;
  display: block;
  padding: 10px 20px;
  color: #fff;
  background-color: #0f1923;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.button_lg::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #0f1923;
}

.button_lg::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: #0f1923;
  transition: all 0.2s ease;
}

.button_sl {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: #46bbff;
  transform: skew(-15deg);
  transition: all 0.2s ease;
}

.button_text {
  position: relative;
}

.button-h:hover {
  color: #0f1923;
}

.button-h:hover .button_sl {
  width: calc(100% + 15px);
}

.button-h:hover .button_lg::after {
  background-color: #fff;
}

.div-img-carouse {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  height: 200px;
}
